.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-condition-container {
    background-color:  #f5f5dc;
    width: 30%;
    border-radius: 20px;
}

.weather-condition-search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.toggle-left-icon, .toggle-right-icon, .search-icon, .location-icon {
    width: 2rem;
}

.toggle-right-icon {
    display: none;
}

.toggle-button, .search-button {
    background: none;
    border: none;
}

.app-title {
    font-size: x-large;
    font-weight: bold;
}

.weather-condition-search-location-container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}


.location-input {
    border: none;
    background-color: azure;
    height: 40px;
    border-radius: 10px;
    width: 300px;
}
